# URL base del backend real (cuando esté disponible)
VITE_API_URL=http://localhost:8080/api

# Controla si el frontend debe usar el simulador Mock (LocalStorage) o el backend real
# true = LocalStorage (Mock API con retardo), false = Real Fetch API
VITE_USE_MOCK_API=true
